*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #111111; }

.container {
  display: grid;
  grid-template-rows: 100vh repeat(5, min-content);
  grid-template-columns: [sidebar-start] 9rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.heading-1 {
  color: #111111;
  font-size: 4.4rem;
  line-height: 1.2;
  letter-spacing: .1rem;
  text-transform: uppercase; }

.styled-text {
  color: #FAAF52; }

.sidebar {
  background-color: orange;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / 100vh;
  position: fixed;
  height: 100%;
  width: 9rem; }

.nick {
  background-color: #AAAAAA;
  grid-column: col-start 5/ full-end;
  display: flex;
  justify-content: center;
  align-items: center; }

.avatar {
  height: 40rem;
  width: 40rem; }

.header {
  grid-column: full-start / col-end 4;
  padding: 8rem;
  display: grid;
  grid-template-rows: 1fr min-content 10rem 1fr;
  grid-row-gap: 1.5rem; }
  .header__contact {
    font-size: 1.3rem;
    text-transform: uppercase;
    display: flex; }
  .header__contact-text {
    color: #aaa; }
  .header__contact-link {
    color: #111111;
    text-decoration: none;
    margin-left: 3px;
    font-family: "Karla", sans-serif; }
  .header__logo {
    height: 7rem;
    align-self: center; }
  .header__text {
    font-size: 1.8rem;
    color: #aaa;
    font-family: "Josefin Sans", sans-serif; }
  .header-city__location {
    height: 2.5rem;
    width: 2.5rem; }
  .header-city__current {
    font-size: 1.2rem;
    font-display: "Karla", sans-serif; }
  .header-city__location {
    font-size: 1.6rem;
    font-display: "Oswald", sans-serif; }

.features {
  background-color: fuchsia;
  grid-column: center-start / center-end; }

.footer {
  background-image: linear-gradient(90deg, #40424b, #1c1d24);
  grid-column: full-start/full-end;
  padding: 8rem; }

.footer-text-1 {
  color: #AAAAAA;
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 3rem;
  font-family: "Josefin Sans", sans-serif; }

.footer-text-2 {
  color: #AAAAAA;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 3rem;
  font-family: "Josefin Sans", sans-serif; }

.nav {
  list-style: none;
  display: flex;
  justify-content: center; }
  .nav__link:link, .nav__link:visited {
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
    margin-right: 4rem; }
    .nav__link:link svg, .nav__link:visited svg {
      height: 2.5rem;
      width: 2.5rem; }

.projects {
  background-color: red;
  grid-column: center-start / center-end; }
